.header {
    margin: 0;
    background-color: #1976d2;
    height: 2rem;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

h1 {
    color: white;
    padding: 4px;
}
