.animal-card {
  max-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: whitesmoke;
  margin: 2rem;
}

.animal-card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.animal-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

img {
  max-height: 250px;
}
 
.column {
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.card-button {
  font-size: 12px;
}

