<app-header></app-header>
<div class="container">
  <h2>Cats or Dogs?</h2>
</div>

<div class="container">
  <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" [(ngModel)]="theChoice">
    <mat-radio-button class="radio-button" *ngFor="let choice of choices" [value]="choice">
      {{choice}}
    </mat-radio-button>
  </mat-radio-group>
</div>

<div *ngIf="(theChoice == 'Cats')">
  <div class="container">
    <app-cards *ngFor="let cat of cats | async" [image]="cat.url"></app-cards>
  </div>
  <div class="container">
      <button mat-button (click)="onRefresh()">Refresh</button>
  </div>
</div>
<div *ngIf="(theChoice == 'Dogs')">
  <div class="container">
    <app-cards *ngFor="let dog of dogs | async" [image]="dog.url"></app-cards>
  </div>
  <div class="container">
      <button mat-button (click)="onRefresh()">Refresh</button>
  </div>
</div>
<div *ngIf="(theChoice == 'Neither')">
  <div class="container">
    <p>Well, I guess there is no cute animals for you...</p>
  </div>
</div>

